body{
    margin: 0;
    background-color: #000;
    overflow: hidden;
}

main{
    position: relative;
    display: block;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    object-fit: contain;
}

canvas{
    position: relative;
    display: block;
    margin: 0 auto;
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

.canvasContainer {
    position: relative;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
  
}